.svg-layer
{
  position: absolute; /* Position each SVG absolutely */
  top: 0;
  left: 0;
  width: 100%;
}

.laser
{
  top: 10%;
  width: 15%;
  height: 0%;
  left: 42.5%;
}

body
{
  background-color: #515151;
  height: 100%;
  min-height: 100vh;
}

.window
{
  top: 10%;
  height: 70%;
}

.panelsBg
{
  height: 98%;
}

.lever-base, .lever
{
  position: absolute;
  top: 85%;
  left: 44.5%;
  height: 12%;
  width: 12%;
}

.panelBtn
{
  height: 3.5%;
  width: 3.5%;
}

.panelBtnRight
{
  transform: scaleX(-1);
}

.panelCenterBtn
{
  height: 3%;
  width: 3%;
}

.pullLever
{
  animation: leverPull 0.5s ease-in 1 forwards;
}

.pullLeverBack
{
  animation-name: leverPullBack;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.fireOrder
{
  animation: fireLaser 0.7s ease 1s 1;
}

.planetIMG
{
  aspect-ratio: 1/1;
  width: 30%;
  max-height: 60%;
  left: 35%;
  top: 12%;
}

.explosionIMG
{
  visibility: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 2%;
}

.explosionDIV
{
  top: 28%;
}


.explode
{
  visibility: visible;
  animation: explode 0.3s ease-out 1 forwards;
}

.explodePlanet
{
  animation: planetExplode 0.2s ease-in 1 forwards;
}


@keyframes leverPull {
  100% {
    transform: translate(0%, -25%);
  }
}

@keyframes leverPullBack {
  0%
  {
    transform: translate(0%, -25%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes fireLaser {
  0%
  {

  }
  88%
  {
    height: 25%;
    width: 15%;
  }
  100%
  {
    height: 25%;
    width: 15%;
  }
}

@keyframes explode {
  0%
  {
  }
  75%
  {
    opacity: 100%;
  }
  100%
  {
    height: 2%;
    width: 100%;
    opacity: 0%;
  }
}

@keyframes planetExplode {
  0%
  {
  }
  100%
  {
    opacity: 0%;;
  }
}